<h4>Group</h4>

<div ng-show="!editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="edit()">Edit</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
        <button class="btn btn-danger pull-right" ng-click="remove()">Remove</button>
    </div>

	<div class="form-group component">
        <label>Name</label>
        <div>{{group.name}}</div>
    </div>
</div>

<div ng-show="editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
    </div>

	<form role="form" name="groupForm">

        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name"
                   ng-model="group.name" placeholder="Enter a first name"
                   required
                   ng-minlength="2">
            <span class="error text-danger" ng-show="groupForm.name.$error.required">
                Required!
            </span>
            <span class="error text-danger" ng-show="groupForm.name.$error.minlength">
                Too short!
            </span>
        </div>

    </form>
</div>