<div class="jumbotron">
  <h3>Security Fee Collection</h3>
  <p class="lead">
    <img src="images/segora-sm.png" alt="SEGORA rules" style="max-width:100%; height:auto; border-width:2px; border-color:lightgrey; border-style: solid; "><br>
    <h4>Brought to you by:</h4>
    <h4>Serenia Gardens Owners and Residents Associations.</h4>
  </p>
  <p ng-hide="hasSession()"><a class="btn btn-lg btn-success" ng-href="#/login">Sign In <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
