<h3>Payments Search</h3>
	<div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="search()">Search</button>
        <button class="btn btn-default" ng-click="clear()">Clear</button>
    </div>

    <form role="form" name="searchForm" 
    

	    <div class="form-group">
	        <label for="from">From</label>
	        <!-- <input class="form-control" id="year" name="year"
	               ng-model="search.year" placeholder="Enter a year"
	               ng-pattern="/^[0-9]{4,4}$/">
	        <span class="error text-danger" ng-show="searchForm.year.$error.pattern">
                Invalid!
            </span> -->

            <!-- <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
              <input class="span2" size="16" type="text" value="12-02-2012">
              <span class="add-on"><i class="icon-th"></i></span>
            </div> -->
            <input class="datepicker form-control" name="from" ng-model="createdFrom" data-date-format="dd-mm-yyyy">
	    </div>

        <div class="form-group">
            <label for="to">To</label>
            <!-- <input class="form-control" id="year" name="year"
                   ng-model="search.year" placeholder="Enter a year"
                   ng-pattern="/^[0-9]{4,4}$/">
            <span class="error text-danger" ng-show="searchForm.year.$error.pattern">
                Invalid!
            </span> -->

            <!-- <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
              <input class="span2" size="16" type="text" value="12-02-2012">
              <span class="add-on"><i class="icon-th"></i></span>
            </div> -->
            <input class="datepicker form-control" name="to" ng-model="createdTo" data-date-format="dd-mm-yyyy">
        </div>

	    
    </form>

    <ul class="list-group" ng-show="payments">
        <li class="list-group-item" ng-repeat="payment in payments">
            
                {{payment.referenceNumber}}


                {{payment.user.full_name}}

                
                {{payment.user.address.fullAddress}}
            
        </li>
    </ul>

        <div class="panel panel-default" ng-show="!payments.length > 0">
            <div class="panel-body">
                <i>No result</i>
            </div>
        </div>