<h3>Payments Search</h3>
	<div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="search()">Search</button>
        <button class="btn btn-default" ng-click="clear()">Clear</button>
    </div>

    <form role="form" name="searchForm" >
    

	    <div class="form-group">
	        <label for="from">From</label>
            <input class="datepicker form-control" name="from" ng-model="createdFrom" data-date-format="dd-mm-yyyy">
	    </div>

        <div class="form-group">
            <label for="to">To</label>
            <input class="datepicker form-control" name="to" ng-model="createdTo" data-date-format="dd-mm-yyyy">
        </div>

	    
    </form>

    <table class="table" ng-show="payments">
        <tr>
            <th>Ref</th>
            <th>Month</th>
            <th>Address</th>
            <th>Resident</th>
        </tr>
        <tbody>
            <tr ng-repeat="payment in payments">
            <td>
                {{payment.referenceNumber}}
            </td>
            <td>
                {{months[payment.month].name}}
            </td>
            <td>
                {{payment.user.address.fullAddress}}
            </td>
            <td>                
                {{payment.user.full_name}}
            </td>
            </tr>
        </tbody>
    </table>


        <div class="panel panel-default" ng-show="!payments.length > 0">
            <div class="panel-body">
                <i>No result</i>
            </div>
        </div>