<h4>Users</h4>
<div style="margin-bottom:10px">
    <a href="#/user/new" class="btn btn-primary">New</a>
</div>

<input class="form-control pull-right" name="search_user" ng-model="userSearch.keyword" placeholder="Type here to filter" style="margin-bottom:10px">

<table class="table ">
	<tr>
		<th>
			Full Name
		</th>	
	</tr>
	<tbody>
		<tr ng-repeat="user in users | filter:userSearch.keyword">
			<td>
				<a href="#/user/{{user._id}}">{{user.full_name}}</a>
				({{user.address.fullAddress}})
				<a href="#/user/{{user._id}}/monthly_payment/{{currentYear}}"><span class="glyphicon glyphicon-usd pull-right"></span></a>
			</td>
		</tr>
	</tbody>
</table>