<user-tab user="user" active-tab="payments"></user-tab>

<h4>Monthly Payments for <select ng-model="selectedYear" 
    ng-options="year for year in years" ng-change="changeYear()"></select>
</h4>

<div >

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
    </div>

	<form role="form" name="addressForm">

        <div class="input-group" ng-repeat="month in months">            
            <span class="input-group-addon">
                <input type="checkbox" id="{{month.code}}" name="{{month.code}}"
                   ng-model="month.checked" ng-disabled="{{month.disabled}}">                
            </span>
            <div class="form-control">
                <label  for="{{month.code}}">{{month.name}}</label>
                <a ng-show="month.payment" href="" ng-click="remove(month.payment._id)">

                    <span style="color:#555; margin-left:10px"><i>({{month.payment.referenceNumber}})</i></span>
                    <span style="color:#F73640" class="glyphicon glyphicon-remove pull-right"></span>
                </a>
            </div>
        </div>
    </form>
</div>