<h4>Payments</h4>

<div style="margin-bottom:10px">
    <a href="#/user/{{user._id}}/monthly_payment/{{currentYear}}" class="btn btn-primary">New Monthly Payments</a>
</div>

<table class="table" ng-show="payments.length">
	<tbody>
		<tr ng-repeat="payment in payments">
			<td>
				<a href="#/user/{{user._id}}/payment/{{payment._id}}">{{payment.year}} - {{payment.month}}</a>
			</td>
			<td>{{payment.amount}}</td>
		</tr>
	</tbody>
</table>

<ul class="pager" ng-show="payments.length">
  <li><a ng-click="previous()" ng-show="showPrevious()">Previous</a></li>
  <li><a ng-click="next()" ng-show="showNext()">Next</a></li>
</ul>

<div class="panel" ng-show="!payments.length">
No data.
</div>