<h4>Address</h4>

<div ng-show="!editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="edit()">Edit</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
        <button class="btn btn-danger pull-right" ng-click="remove()">Remove</button>
    </div>

	<div class="form-group component">
        <label>No.</label>
        <div>{{address.number}}</div>
    </div>
    <div class="form-group component">
        <label>Street</label>
        <div>{{address.street}}</div>
    </div>
</div>

<div ng-show="editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
    </div>

	<form role="form" name="addressForm">

        <div class="form-group">
            <label for="number">No.</label>
            <input class="form-control" id="number" name="number"
                   ng-model="address.number" placeholder="Enter a house number"
                   required
                   ng-minlength="1">
            <span class="error text-danger" ng-show="addressForm.number.$error.required">
                Required!
            </span>
            <span class="error text-danger" ng-show="addressForm.number.$error.minlength">
                Too short!
            </span>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input class="form-control" id="street" name="street"
                   ng-model="address.street" placeholder="Enter a street"
                   required
                   ng-minlength="2">
            <span class="error text-danger" ng-show="addressForm.street.$error.required">
                Required!
            </span>
            <span class="error text-danger" ng-show="addressForm.street.$error.minlength">
                Too short!
            </span>
        </div>

    </form>
</div>