<user-tab user="user" active-tab="payments"></user-tab>

<h4>Monthly Payments for <select ng-model="selectedYear" 
    ng-options="year for year in years" ng-change="changeYear()"></select>
</h4>

<div >

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="save()">Update Payment</button>
        
    </div>
    
    <div class="form-group component">
        <label>Resident</label>
        <div>{{user.full_name}}</div>
    </div>

	<form role="form" name="addressForm">

        <table class="table">
            <tr>
                <th>Paid?</th>
                <th>Month</th>
                <th>Reference #</th>
                <th>Bank Reference #</th>
                <th>Actions</th>
            </tr>

            <tbody >
                <tr ng-repeat="month in months">
                    <td>
                        <input type="checkbox" id="{{month.code}}" name="{{month.code}}"
                   ng-model="month.checked" ng-disabled="{{month.disabled}}">   
                    </td>
                    <td>
                        {{month.name}}
                    </td>
                    <td>
                        {{month.payment.referenceNumber}}
                    </td>
                    <td>
                        <span ng-show="!month.editBankReference" ng-click="editBankReference(month)" style="cursor:pointer" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Click to edit">   
                            {{month.payment.bank_reference}}
                            <span ng-show='month.payment && (!month.payment.bank_reference)'><i>None</i></span>
                        </span>
                        <span ng-show="month.checked && !month.payment" >
                            <input type="text" placeholder="bank reference #" ng-model="month.bank_reference" class="form-control">
                        </span>
                         <span ng-show="month.checked && month.editBankReference" >
                            <input type="text" placeholder="edit bank reference #" ng-model="month.temp.bank_reference" class="form-control">
                            <span class="pull-right">
                            <button ng-click="saveEditingBankReference(month)" class="btn btn-default"><span class="glyphicon {{month.temp.icon}}"></span></button>
                            <button class="btn btn-default glyphicon glyphicon-remove" ng-click="cancelEditingBankReference(month)"></button>
                            </span>
                        </span>
                    </td>
                    <td>     
                        <span ng-show="month.payment">              
                            

                            <a data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="{{getValidatedStatus(month.payment)}}" style="color:{{getValidatedColor(month.payment)}};margin-right:10px; margin-top:5px; cursor:pointer" class="glyphicon glyphicon-ok" ng-click="validate(month.payment)"></a>
                            

                            <a target="_none" href="{{getReceiptLink(month.payment._id)}}" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Print receipt">
                                <span style="margin-right:10px; margin-top:5px" class="glyphicon glyphicon-print" ></span>
                            </a>

                            <a href="" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="View details">
                            <span style="margin-right:10px; margin-top:5px" class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#paymentInfoModal" ng-click="showPayment(month)"></span>
                            </a>

                            <span ng-hide="month.payment.validated" data-toggle="tooltip" data-placement="bottom" data-trigger="hover focus" title="Delete payment" style="color:#F73640; margin-top:5px" class="glyphicon glyphicon-remove" ng-show="hasAnyRoles(['admin'])" confirmed-click="remove(month.payment._id)" ng-confirm-click="Are you sure? This will remove this payment details."></span>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>

    </form>
</div>

<div class="modal fade" id="paymentInfoModal" tabindex="-1" role="dialog" aria-labelledby="paymentInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <h4 class="modal-title" id="paymentInfoModalLabel"><span class="glyphicon glyphicon-info-sign"></span> Payment Info</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
            <label>Resident</label>
            <div>{{user.full_name}}</div>
        </div>

        <div class="form-group">
            <label>Address</label>
            <div ng-show="address">{{address.number}} {{address.street}}</div>
        </div>

        <div class="form-group">
            <label>Month</label>
            <div>{{currentPayment.name}}</div>
        </div>

        <div class="form-group">
            <label>Reference Number</label>
            <div>{{currentPayment.payment.referenceNumber}}</div>
        </div>

        <div class="form-group">
            <label>Bank Reference Number</label>
            <div ng-show="currentPayment.payment.bank_reference">{{currentPayment.payment.bank_reference}}</div>
            <div ng-hide="currentPayment.payment.bank_reference"><i>None</i></div>
        </div>

        <div class="form-group">
            <label>Created By</label>
            <div>{{currentPayment.payment.creator.full_name}}</div>
        </div>
        <div class="form-group">
            <label>Created On</label>
            <div>{{currentPayment.payment.audit.created_date | date:'medium'}}</div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>