<user-tab user="user" active-tab="credential"></user-tab>

<div ng-show="!editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="edit()" ng-show="hasAnyRoles(['admin'])">Change Password</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
        <button class="btn btn-danger pull-right" ng-click="remove()">Remove</button>
    </div>

	<!-- <div class="form-group component">
        <label>Password</label>
        <div>{{credential.password}}</div>
    </div>
    <div class="form-group component">
        <label>Confirm Password</label>
        <div>{{credential.confirmPassword}}</div>
    </div> -->

    
</div>

<div ng-show="editMode">

    <div style="margin-bottom:10px">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="done()">Done</button>
    </div>

	<form role="form" name="credentialForm">

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                   ng-model="credential.password" placeholder="Enter a password"
                   required
                   ng-minlength="1">
            <span class="error text-danger" ng-show="credentialForm.password.$error.required">
                Required!
            </span>
            <span class="error text-danger" ng-show="credentialForm.password.$error.minlength">
                Too short!
            </span>
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                   ng-model="credential.confirmPassword" placeholder="Enter a confirm_password"
                   required
                   ng-minlength="2">
            <span class="error text-danger" ng-show="credentialForm.confirm_password.$error.required">
                Required!
            </span>
            <span class="error text-danger" ng-show="credentialForm.confirm_password.$error.minlength">
                Too short!
            </span>
        </div>

    </form>
</div>